<div class="container-fluid">
    <div class="row">
      <!--logo starts-->
      <div class="col-2">
        <img class="logo" src="../assets/logo.png" alt="">
      </div>
      <!--logo ends-->

      <!--navbar starts-->
      <div class="col-10">
        <div class="row">
          <div class="col-12 first-navbar d-flex justify-content-end">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><small>also visit</small>&nbsp;<strong>Reebok</strong></a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="#">help</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="#">order track and returns</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="#">join creators club</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">creators club</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">log in</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
            <div class="col-12 second-navbar d-flex justify-content-end">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#"><strong>MEN</strong></a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="#"><strong>WOMEN</strong></a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="#"><strong>KIDS</strong></a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="#">SPORTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">BRANDS</a>
                    </li>
                    <li class="nav-item mr-5">
                      <a class="nav-link" href="#">RELEASE DATES</a>
                    </li>
                      <form class="form-inline ml-5 mr-4">
                        <div class="input-group search">
                        <input class="form-control search-bar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                        </div>
                        </div>
  
                      </form>
                      <i class="fa fa-shopping-bag mr-3"></i>
                  </ul>
                </div>
              </nav>
            </div>
        </div>
      </div>
      <!--navbar ends-->
    </div>
  </div>
  
  <!--disclaimer starts-->
  <div class="container-fluid content">
    <div class="row covid mt-1">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <p class="m-0">Your purchases help support the COVID-19 response. <a><strong>LEARN MORE</strong></a></p>
      </div>
    </div>
  </div>
  <!--disclaimer ends-->

  <!--offer banner starts-->
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 mt-2 p-0">
              <img class="banner" src="../../assets/commercial-ss20.jpg" alt="">
          </div>
      </div>
      <div class="row banner-content">
          <div class="col-6">
            <h1 class="banner-content-text">30% OFF SITEWIDE</h1>
            <p class="banner-content-text">Get 30% off full-price and sale with promo code APRIL at checkout. Some exclusions apply.</p>
            <div class="wrapper">
                <a class="category-button mens pl-3 mb-3 d-flex align-items-center" href="#"><span>SHOP MENS <i class="fa fa-long-arrow-right fa-lg ml-3"></i></span></a>
                <a class="category-button womens pl-3 d-flex align-items-center" href="#"><span>SHOP WOMENS <i class="fa fa-long-arrow-right fa-lg ml-3"></i></span></a>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row mt-4">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../assets/adidas-shoe.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">30% OFF SHOES</p>
                </div>
              </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../assets/adidas-cloth.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">30% OFF CLOTHING</p>
                </div>
              </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../assets/adidas-pant.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">30% OFF BEST SELLERS</p>
                </div>
              </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../assets/adidas-sandle.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">30% OFF LOUNGEWEAR</p>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!--offer banner ends-->

  <div class="container-fluid">
      <div class="row mt-4">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <img class="running-shoes" src="../../assets/running-ss20.jpg" alt="">
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <video class="energy-ss20" src="../../assets/Energy-SS20.mp4"></video>
          </div>
      </div>

      <div class="row poster-content">
        <div class="col-6">
          <h5 class="poster-content-text">ULTRABOOST 20</h5>
          <p class="poster-content-text">Iconic Boost. Fast new colors.</p>
          <div class="wrapper1">
              <a class="category-button mens pl-3 mb-3 d-flex align-items-center" href="#"><span>SHOP NOW <i class="fa fa-long-arrow-right fa-lg ml-3"></i></span></a>
          </div>
        </div>

        <div class="col-6">
            <div class="wrapper2">
                <a class="category-button mens pl-3 mb-3 d-flex align-items-center" href="#"><span>SHOP NOW <i class="fa fa-long-arrow-right fa-lg ml-3"></i></span></a>
            </div>
        </div>
    </div>
  </div>

  <div class="container-fluid">
      <div class="row mt-4">
          <div class="col-12">
              <img class="training" src="../../assets/training-aSMC.jpg" alt="">
          </div>
      </div>

      <div class="row training-content">
        <div class="col-6">
          <h1 class="training-content-text">HEY WORLD!</h1>
          <p class="training-content-text">Earth day is Every day, the new collection that respects and celebrates our planet.</p>
          <div class="wrapper3">
              <a class="category-button mens pl-3 mb-3 d-flex align-items-center" href="#"><span>SHOP COLLECTION <i class="fa fa-long-arrow-right fa-lg ml-3"></i></span></a>
            </div>
        </div>
    </div>
  </div>

  <!--card slider starts. Did not implement the slider-->
  <div class="container">
      <div class="row">
          <div class="col-12 text-center whats-trending mt-2">
            <p><strong>WHAT'S TRENDING</strong></p>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-slider">
                <img class="card-img-top" src="../../assets/ultraboost shoes 1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text my-0">Performance</p>
                  <p class="card-text mt-2 mb-0">ULTRABOOST 20 SHOES</p>
                  <p class="card-text my-0">$180</p>
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-slider">
                <img class="card-img-top" src="../../assets/ultraboost shoes 2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text my-0">Performance</p>
                    <p class="card-text mt-2 mb-0">ULTRABOOST 20 SHOES</p>
                    <p class="card-text my-0">$180</p>
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-slider">
                <img class="card-img-top" src="../../assets/ultraboost shoes 3.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text my-0">Performance</p>
                    <p class="card-text mt-2 mb-0">ULTRABOOST 20 SHOES</p>
                    <p class="card-text my-0">$180</p>
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-slider">
                <img class="card-img-top" src="../../assets/ultraboost shoes 4.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text my-0">Originals</p>
                    <p class="card-text mt-2 mb-0">NMD_R1 SHOES</p>
                    <p class="card-text my-0">$130</p>
                </div>
            </div>
          </div>
      </div>
  </div>
  <!--card slider ends-->

  <div class="container-fluid">
      <div class="row story">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 story-col-1">
              <strong>STORIES, STYLE, AND SPORTING GOODS AT ADIDAS, SINCE 1949</strong>
              <p>Through sports, we have the power to change lives. Sports keep us fit. They keep us mindful. They bring us together. Athletes inspire us. They help us to get up and get moving. And sporting goods featuring the latest technologies help us beat our personal best. adidas is home to the runner, the basketball player, the soccer kid, the fitness enthusiast, the yogi. And even the weekend hiker looking to escape the city. The 3-Stripes are everywhere and anywhere. In sports. In music. On life’s stages. Before the whistle blows, during the race, and at the finish line. We’re here to support creators. To improve their game. To live their lives. And to change the world.</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 story-col-2">
              <strong>WORKOUT CLOTHES, FOR ANY SPORT</strong>
              <p>adidas designs for athletes of all kinds. Creators who love to change the game. People who challenge conventions, break the rules, and define new ones. Then break them all over again. We design sports apparel that gets you moving, winning, and living life to the fullest. We create bras and tights for female athletes who play just as hard as the men. We design, innovate and iterate. We test new technologies in action. On the field, the track, the court, and in the pool. We’re inspired by retro workout clothes, creating new streetwear essentials. From NMD to our Firebird tracksuits. From Stan Smith to Superstar. Classic sports models are brought back to life on the streets and the stages around the world.</p>
          </div>
      </div>
  </div>

  <!--pre-footer starts-->
  <div class="container-fluid">
      <div class="row prefooter">
          <div class="col-6 mt-4">
            <h2 class="ml-5 pl-5"><strong>STAY IN THE KNOW WITH <br/>ADIDAS!</strong></h2>
          </div>

          <div class="col-6 mt-4">
            <a class="category-button mens pl-3 d-flex align-items-center" href="#"><span>SHOP NOW <i class="fa fa-long-arrow-right fa-lg ml-3"></i></span></a>
          </div>
      </div>
  </div>
  <!--pre-footer ends-->

  <!--footer starts-->
  <div class="container-fluid">
      <div class="row mt-3 footer">
          <div class="col-4 d-flex justify-content-center align-items-center">
            <img src="../../assets/USA-icon.png" alt="USA" width="20px">&nbsp;USA 
          </div>
          <div class="col-8 d-flex justify-content-between align-items-center">
              <span>Data Settings&nbsp;&nbsp;|</span>
              <span>Do not sell my personal information&nbsp;&nbsp;|</span>
              <span>Privacy PolicyTerms and Conditions&nbsp;&nbsp;|</span>
              <span><i class="fa fa-copyright" aria-hidden="true"></i>2020 adidas America Inc.</span>
          </div>
      </div>
  </div>
  <!--footer starts-->